
 /* GENERAL */
body {
    background-color: #080b00;
    color: #f7fff7;
    font-family: "Georgia", "Droid Serif", "Bitstream Charter", serif;
    font-size: 100%;
}
a { color: #6fff4f; text-decoration: none; }
a:visited { color: #9fcf2f; }
a:hover { text-decoration: underline; }
a:focus, a:active {
    outline: none;
    text-decoration: underline;
    color: #ffbf6f;
}
code, .code {
    font-family: "Inconsolata", monospace;
}
*[contentEditable=true] {
    min-height: 1em;
    min-width: 5em;
}
 /* NAV AREA */
#nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 7.5em;
    padding: 0.5em;
}
a.nav-title {
    display: block;
    font-weight: bold;
    color: #d7f0c7;
    text-decoration: none;
    white-space: pre;
    margin-bottom: 0.2em;
    font-size: 200%;
}
a.nav-title img {
    width: 48px;
    height: 48px;
    vertical-align: -25%;
    margin-right: 0.4em;
}
.nav-section {
    padding-left: 0.1em;
}
a.navlink {
    display: block;
    color: #6fff3f;
}
a.navlink:focus, a.navlink:active {
    color: #ffbf6f;
}
 /* CONTENT AREA */
#content {
    position: absolute;
    border-left: 1px solid #d7f0c7;
    left: 8.5em;
    right: 0;
    top: 0;
    min-height: 100%;
    background-color: #0b0800;
}

#content p {
    margin: 1em;
    max-width: 48em;
}
#content h4 {
    margin: 1em;
    margin-left: 1.6em;
    margin-bottom: 0em;
    font-weight: bold;
}
#content blockquote {
    margin: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 46em;
    font-style: italic;
}
#content ul, #content ol {
    padding: 0;
    margin-left: 2em;
}
#content li {
    margin: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    max-width: 46em;
}
#content .small-list li {
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    max-width: 45em;
}
#content p.code {
    max-width: none;
    margin-left: 3em;
}
#content hr {
    border: none;
    border-top: 1px solid #d7f0c7;
    margin: 0.5em;
    margin-left: 8em;
    margin-right: 8em;
    max-width: 34em;
    clear: both;
}
#content .post-footer {
    font-size: 80%;
    font-style: italic;
    text-align: right;
    max-width: 60em;
}
.footer-links {
    max-width: 48em;
    margin-left: 1em;
    margin-right: 1em;
}
.central-footer {
    max-width: 48em;
    margin: 1em;
    margin-top: 0;
    text-align: center;
}
.prev {
    float: left;
    margin-bottom: 1em;
}
.next {
    float: right;
    margin-bottom: 1em;
}
span.prev, span.next {
    color: #7f7f7f;
}
.item-header {
    clear: both;
    max-width: 48em;
    margin: 1em;
}
.title {
    float: left;
    font-weight: bold;
    margin: 1em;
    margin-top: 0;
    font-size: 120%;
    color: #f7fff7;
    white-space: pre-wrap;
}
.dates {
    float: right;
    margin: 1em;
    margin-top: 0;
    font-size: 80%;
}
.item-html {
    clear: both;
    white-space: pre-wrap;
}


 /* SYNTAX HIGHLIGHTING */
.s-id {
    color: #55FFFF;
}
.s-st {
    color: #FFFF55;
}
.s-cm {
    color: #FF5555;
}
.s-lt {
    color: #AAFF55;
}
.s-dk {
    color: #AAAAAA;
}
.s-tt {
    color: #FF80FF;
}
.s-pp {
    color: #8080FF;
}
