<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <meta http-equive="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow"/>
    <base href=".."/>
    <link rel="stylesheet" href="style/deepforest.css"/>
</head>
<body>

<div class="nav">
    <div class="title">Notebook</div>
    No links yet.
</div>
<div class="content">
    <div class="header">
        <div class="title">404 Not Found</div>
        <div class="corner">
            <div class="date"/>{date}</div>
        </div>
    </div>
    <div class="body"><code>SORRY.<br/>I KNOW<br/>NOTHING.</code></div>
    <hr/>
    <div class="footer">{[warnings]
        <div class="warning">{_}</div>}
    </div>
</div>

</body>
</html>
